// ==== 컨텐츠 ====
.wrap-login{
	min-width:580px;
	width:30vw;
	padding:5rem 4.3rem;
	border:1px solid #e0e0e0;

	@include media-breakpoint-up(md){
		@include pos_center;

	}
	@include media-breakpoint-down(sm){
		@include pos_centerY;
		width:100%;
		border:0;
	}
	@include media-breakpoint-down(xs){
		width:100%;
		min-width:auto;
		padding:0 mocal(70px);
		border:0;
	}

	h1{
		width:rem(214px);
		height:rem(37px);
		margin:0 auto 4.5rem;
		background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 214 37'%3E%3Cpath fill='%23F49C00' fill-rule='evenodd' d='M6.743.442h6.36c.453 0 1.09.83.754 1.137L8.19 6.749l5.353-.442c1.573-.135-.588-1.749-1.383-1.949-.2-.053 1.866-.954 3.044-.866 1.596.118 2.709.896 3.94 1.914.5-1.384 1.277-2.532 2.343-3.439-.453-.365-.907-1.107-.2-1.684.878-.707 1.466.118 1.743.241.866-.159 1.213-.353 2.173-.294.954.059 1.843.86 2.52 1.407.472-.064 1.078-.282 1.52-.07.524.247.913 1.325.353 1.802-.406.347-.977.276-1 .494-.018.189 1.371-.023 1.371.218 0 .289-1.39.253-2.891 1.908.948 1.084 1.937 2.15 3.15 2.839 1.178-1.284 1.643-3.634 3.38-3.699 1.06-.04 1.78.984 1.973 1.773.112.448-1.236 1.007-1.154 1.46.094.513 1.084.642 1.202 1.149.064.288-.79.447-.766.742.047.524.819.665.807 1.19-.012.388-.848.63-.866 1.018-.03.518.79.783.695 1.29-.124.642-.807 1.013-.919 1.66-.306 1.808-.783 2.868-2.15 3.51-.818.383-1.571.666-2.455.507.619 2.014-.388 3.798-2.52 5.423 5.288 2.338 7.243 6.755 7.685 12.108H28.59c-.111-10.176-3.969-12.284-3.975-12.962 0-.665 3.57-1.36 3.428-4.734-.077-1.897-6.52-4.529-6.96-9.37-.019-.223-.684-.211-.684.018V21.39c-.07 3.027-2.968 5.57-5.86 6.366 2.986 2.579 3.858 5.553 3.593 9.204H13.09c1.113-5.294-2.108-10.453-4.982-13.415l3.563.018c.447 0 1.23-.371 1.23-.819V20.63H7.426v2.709c-1.22-.713-2.309-.672-3.463-.819l.065-10.782H1.761C1.343 10.117.754 8.922 0 8.145l4.534-.63C5.541 5.6 7.985 2.467 7.555 1.778L6.737.454l.006-.012Zm.076 11.195 9.505.04.041 12.073c0 .854 1.731-1.113 1.726-1.967l-.042-10.5c-3.863-.43-3.003-3.474-3.533-3.303l-8.209 2.673c-.353.112.141.984.512.984Zm16.96-1.331 6.154 6.336c.866.89 2.173-.6 2.39-1.755.23-1.242.696-.765 1.143-1.554.154-.271-.76-.289-.789-.69-.023-.311.837-.247.837-.788 0-.566-.695-.265-.69-.507.018-.642.53-.8.637-1.066.14-.365-.837-.5-1.12-.23-.806.778-1.154 3.605-1.984 2.85l-4.805-4.375c-1.314-1.195-3.08.442-1.779 1.785l.006-.006ZM7.444 17.343v1.101h5.3v-1.101h-5.3Zm0-3.58v1.1h5.3v-1.1h-5.3ZM24.85 1.373c-.324 0-.589.247-.589.547 0 .3.265.554.589.554.324 0 .589-.248.589-.554 0-.306-.265-.548-.589-.548Z' clip-rule='evenodd'/%3E%3Cpath fill='%23F49C00' fill-rule='evenodd' d='M3.916 24.062c2.02 4.099 1.867 7.32-.865 12.938h6.678c1.313-11.042-6.325-13.974-5.813-12.938Zm14.651 2.598c2.056 3.19 2.539 4.21 2.515 10.34h5.577c-.106-8.84-8.716-11.313-8.091-10.34Z' clip-rule='evenodd'/%3E%3Cpath fill='%23616060' fill-rule='evenodd' d='M47.016 9.281V28.15c0 .56.6 1.207 1.16 1.201l9.981-.04c2.603-.013 8.298-3.646 8.204-9.788-.107-6.902-6.143-10.247-10.936-10.247h-8.41v.006Zm3.439 1.784 5.052-.082c3.457-.059 6.773 3.31 6.837 8.25.065 5.277-2.85 8.504-6.006 8.504h-4.476c-.536 0-1.407-.253-1.407-.79v-15.88ZM74.68 9.281l-8.82 20.034h2.608l3.157-7.09h7.072l2.526 5.6c.313.69 1.402 1.496 2.156 1.496h2.32L76.795 9.287h-2.114v-.006Zm-2.308 11.136 2.715-5.913 2.839 5.925-5.548-.012h-.006ZM87.696 9.281h13.497l.047 1.76H91.176v7.126h8.786v1.673h-8.84v7.078c0 .36.472.69.837.69h10.359v1.707H90.092c-1.048 0-2.455-.907-2.455-1.955l.047-18.079h.012Zm16.04 0 7.314 18.956c.295.76 1.043 1.65 1.843 1.608.801-.041 1.149-.813 1.426-1.431l3.268-7.267 2.856 7.326c.247.642.872 1.401 1.549 1.372.677-.03 1.619-1.019 1.961-1.843l7.791-18.72h-2.615l-6.007 14.85-6.424-14.85h-3.863l3.568 9.25-2.673 5.777-6.425-15.028h-3.569Zm37.061 0c5.5 0 10.041 4.481 10.2 9.817.159 5.335-2.503 10.217-9.646 10.217-7.144 0-10.747-4.688-10.747-10.217 0-5.53 4.699-9.817 10.199-9.817h-.006Zm0 1.696c-3.468 0-6.436 3.557-6.436 8.15 0 4.594 2.273 8.486 6.778 8.486 4.505 0 6.183-4.051 6.083-8.486-.1-4.434-2.962-8.15-6.431-8.15h.006Zm22.276-1.696c5.5 0 10.04 4.481 10.199 9.817.159 5.335-2.503 10.217-9.646 10.217-7.143 0-10.747-4.688-10.747-10.217 0-5.53 4.699-9.817 10.199-9.817h-.005Zm0 1.696c-3.469 0-6.437 3.557-6.437 8.15 0 4.594 2.273 8.486 6.778 8.486 4.505 0 6.183-4.051 6.083-8.486-.1-4.434-2.962-8.15-6.43-8.15h.006Zm12.866 18.333V9.28h2.433c.8 0 1.578.595 2.072 1.225l10.17 13.138V9.281h1.726v19.15c0 .395-.353 1.396-.783 1.414-.336.012-.831-.742-1.178-1.178l-12.632-15.93V29.31h-1.808Zm29.11-20.029c3.21 0 7.98 1.896 8.08 5.5h-2.721c.029-2.302-3.133-3.798-5.359-3.798-3.468 0-6.436 3.557-6.436 8.15 0 4.594 2.273 8.486 6.778 8.486 1.278 0 4.758-.041 4.764-1.867l.012-4.61-4.676-.1-.012-1.662h7.614l.03 6.867c-1.543 1.867-3.981 3.068-7.532 3.068-7.149 0-10.747-4.688-10.747-10.217 0-5.53 4.699-9.817 10.199-9.817h.006Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 0 0;
		background-size:100%;
		@include media-breakpoint-down(xs){
			width:mocal(rem(490px));
			height:mocal(rem(85px));
			margin:0 auto mocal(rem(160px));
		}
	}

	.ip-item{
		label{
			display:block;
			margin-bottom:rem(14px);
			font-size:rem(16px);
			line-height:rem(30px);
			font-weight:500;
			@include media-breakpoint-down(xs){
				margin-bottom:mocal(rem(18px));
				font-size:mocal(rem(40px));
				line-height:mocal(rem(52px));
			}
		}
		input{
			width:100%;
			height:rem(60px);
			line-height:calc(rem(60px) - 2px);
			padding:0 16px;
			border:1px solid #e5e8eb;
			background:#fff;
			outline:0;
			@include media-breakpoint-down(xs){
				height:mocal(rem(134px));
				line-height:calc(mocal(rem(134px)) - 2px);
				padding:0 mocal(rem(46px));
			}
		}

		+ .ip-item{
			margin-top:rem(25px);

			@include media-breakpoint-down(xs){
				margin-top:mocal(rem(80px));
			}
		}
	}

	.is-errer{
		margin-top:rem(17px);
		@include media-breakpoint-down(xs){
			margin-top:mocal(rem(40px));
		}

		.message{
			font-size:rem(12px);
			line-height:rem(18px);
			color:#ff003e;
			@include media-breakpoint-down(xs){
				font-size:mocal(rem(36px));
				line-height:mocal(rem(50px));
			}
		}
	}

	button{
		width:100%;
		height:rem(60px);
		margin-top:rem(24px);
		background:#2B388F;
		text-align:center;
		color:#fff;
		font-size:rem(18px);
		font-weight:600;
		@include media-breakpoint-down(xs){
			height:mocal(rem(134px));
			margin-top:mocal(rem(75px));
			font-size:mocal(rem(40px));
		}

		+ p{
			text-align:center;
			color:rgba(51, 51, 51, 0.6);
			font-size:rem(16px);
			margin-top:rem(17px);
			line-height:rem(30px);
			@include media-breakpoint-down(xs){
				margin-top:mocal(rem(42px));
				font-size:mocal(rem(36px));
			}
		}
	}
}

.wrap{
	height:100%;

	main{
		@include justify_width(center);
		//gap:0 rem(77.5px);
		//height:calc(100% - rem(160px));
		height:100%;

		@include media-breakpoint-down(md){
			flex-direction:column;
			height:auto;
		}
		header{
			position:relative;
			width:rem(453px);
			height:100%;
			overflow:auto;
			padding:rem(90px) rem(30px) 0;
			//padding:rem(90px) 0 0 rem(50px);
			background:linear-gradient(180deg, #2B388F 0%, #2B388F 52.6%, #2B3369 100%);

			@include media-breakpoint-down(lg){
				width:rem(353px);
			}
			@include media-breakpoint-down(md){
				width:100%;
				padding:tbcal(rem(145px)) tbcal(rem(50px)) 0;
				background:#2B388F;
			}
			@include media-breakpoint-down(sm){
				width:100%;
				padding:mocal(rem(145px)) mocal(rem(50px)) 0;
			}

			&:before,
			&:after{
				content:"";
				display:block;
				position:absolute;
				left:0;
				width:100%;
				background:url("../images/bg_header.svg") no-repeat 0 0;
				z-index:1;
			}
			&:before{
				top:0;
				height:40%;
				@include media-breakpoint-down(md){
					height:100%;
				}
			}
			&:after{
				height:70%;
				bottom:0;
				background-position:100% 100%;

				@include media-breakpoint-down(md){
					display:none;
				}
			}
			.inner{
				position:relative;
			}
			h1{
				position:relative;;
				width:rem(246px);
				height:rem(41px);
				margin:0 auto;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='143' height='25' fill='none'%3E%3Cg fill='%23ffffff' fill-rule='evenodd' clip-path='url(%23a)' clip-rule='evenodd'%3E%3Cpath d='M4.52.298h4.268c.304 0 .73.561.505.768l-3.8 3.494 3.591-.299c1.055-.091-.395-1.181-.929-1.317-.134-.035 1.253-.644 2.043-.584 1.071.08 1.818.604 2.644 1.293.335-.935.857-1.711 1.572-2.324-.304-.247-.608-.748-.134-1.138.589-.478.984.08 1.17.163.58-.107.813-.239 1.457-.199.64.04 1.237.581 1.692.951.316-.044.723-.19 1.019-.048.352.167.613.896.237 1.218-.273.235-.656.187-.672.334-.011.128.921-.016.921.147 0 .195-.932.171-1.94 1.29.636.732 1.3 1.452 2.114 1.917.79-.867 1.102-2.455 2.268-2.498.711-.028 1.193.664 1.324 1.197.075.303-.83.68-.775.987.063.346.727.434.806.776.044.195-.53.302-.514.501.032.355.55.45.542.804-.008.263-.57.426-.581.689-.02.35.53.529.466.87-.083.435-.541.685-.616 1.123-.206 1.221-.526 1.938-1.442 2.371-.55.26-1.055.45-1.648.343.415 1.36-.26 2.566-1.691 3.664 3.548 1.58 4.86 4.564 5.156 8.181H19.18c-.076-6.876-2.664-8.3-2.668-8.758 0-.45 2.395-.919 2.3-3.199-.051-1.281-4.374-3.06-4.67-6.33-.012-.152-.459-.144-.459.012v7.755c-.047 2.045-1.991 3.764-3.931 4.3 2.003 1.744 2.588 3.753 2.41 6.22H8.78c.747-3.577-1.415-7.063-3.343-9.064l2.39.012c.3 0 .826-.25.826-.553v-1.429H4.98v1.83c-.818-.48-1.55-.453-2.324-.552L2.7 7.93H1.178C.897 6.836.502 6.028-.004 5.503l3.043-.426c.675-1.293 2.315-3.41 2.027-3.875l-.55-.896.004-.008Zm.052 7.564 6.377.028.028 8.157c0 .577 1.161-.752 1.157-1.329l-.027-7.094c-2.592-.29-2.015-2.348-2.371-2.233L4.228 7.198c-.237.076.095.664.344.664Zm11.38-.899 4.128 4.282c.581.6 1.458-.406 1.605-1.186.154-.84.466-.517.766-1.05.103-.184-.51-.196-.53-.466-.015-.211.562-.167.562-.533 0-.382-.466-.18-.463-.343.012-.433.356-.54.427-.72.095-.246-.56-.338-.75-.155-.542.525-.775 2.435-1.332 1.926L17.14 5.762c-.881-.808-2.067.298-1.194 1.205l.004-.004ZM4.99 11.718v.744h3.557v-.744H4.99Zm0-2.42v.745h3.557v-.744H4.99ZM16.67.929c-.217 0-.395.166-.395.37 0 .202.178.373.395.373a.385.385 0 0 0 .395-.374c0-.207-.177-.37-.395-.37Z'/%3E%3Cpath d='M2.624 16.258c1.355 2.77 1.252 4.946-.581 8.742h4.48c.882-7.46-4.243-9.442-3.9-8.742ZM12.454 18.013c1.38 2.156 1.703 2.845 1.688 6.987h3.741c-.07-5.973-5.847-7.644-5.429-6.987ZM31.543 6.271V19.02c0 .378.403.815.778.811l6.698-.027c1.746-.008 5.567-2.463 5.504-6.614-.071-4.663-4.121-6.923-7.338-6.923h-5.642v.004Zm2.307 1.206 3.39-.056c2.32-.04 4.545 2.236 4.588 5.574.044 3.566-1.912 5.746-4.03 5.746h-3.003c-.36 0-.945-.171-.945-.533V7.477ZM50.106 6.271l-5.919 13.537h1.75l2.118-4.791h4.746l1.695 3.784c.21.465.94 1.01 1.446 1.01h1.557L51.525 6.275h-1.419v-.004Zm-1.549 7.524L50.38 9.8l1.904 4.003-3.722-.008h-.004ZM58.838 6.271h9.057l.031 1.19h-6.753v4.814h5.896v1.13h-5.931v4.783c0 .243.316.466.561.466h6.95v1.154h-8.203c-.703 0-1.647-.613-1.647-1.322l.031-12.215h.008ZM69.602 6.271l4.907 12.808c.198.514.7 1.114 1.237 1.087.537-.028.77-.55.956-.967l2.193-4.91 1.916 4.95c.166.433.585.947 1.04.927.454-.02 1.086-.689 1.315-1.246l5.228-12.649h-1.755l-4.03 10.035L78.3 6.271h-2.593l2.395 6.251-1.794 3.903-4.311-10.154h-2.394ZM94.467 6.271c3.69 0 6.737 3.028 6.843 6.633.107 3.605-1.679 6.904-6.472 6.904s-7.21-3.168-7.21-6.904c0-3.736 3.152-6.633 6.843-6.633h-.004Zm0 1.146c-2.328 0-4.319 2.403-4.319 5.507 0 3.104 1.525 5.734 4.548 5.734s4.149-2.738 4.082-5.734c-.068-2.996-1.988-5.507-4.315-5.507h.004ZM109.414 6.271c3.691 0 6.737 3.028 6.844 6.633.107 3.605-1.679 6.904-6.472 6.904s-7.211-3.168-7.211-6.904c0-3.736 3.153-6.633 6.843-6.633h-.004Zm0 1.146c-2.327 0-4.318 2.403-4.318 5.507 0 3.104 1.525 5.734 4.548 5.734 3.022 0 4.148-2.738 4.081-5.734-.067-2.996-1.987-5.507-4.315-5.507h.004ZM118.048 19.803V6.271h1.632c.537 0 1.059.402 1.391.828l6.823 8.877V6.27h1.158v12.94c0 .266-.237.943-.525.955-.226.008-.558-.502-.791-.796l-8.475-10.763v11.197h-1.213ZM137.579 6.271c2.153 0 5.354 1.281 5.421 3.716h-1.825c.019-1.555-2.102-2.566-3.596-2.566-2.327 0-4.319 2.403-4.319 5.507 0 3.104 1.525 5.734 4.548 5.734.858 0 3.193-.028 3.197-1.262l.008-3.115-3.138-.068-.008-1.122h5.109l.02 4.64c-1.035 1.26-2.671 2.073-5.054 2.073-4.796 0-7.211-3.168-7.211-6.904 0-3.736 3.154-6.633 6.844-6.633h.004Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h143v25H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
				background-repeat:no-repeat;
				background-position:0 0;
				background-size:100%;

				@include media-breakpoint-down(md){
					width:tbcal(rem(495px));
					height:tbcal(rem(86px));
					margin:0;
				}
				@include media-breakpoint-down(sm){
					width:mocal(rem(495px));
					height:mocal(rem(86px));
				}
			}
			.desc{
				font-weight:700;
				color:#fff;
				margin-top:rem(40px);
				//line-height:rem(22px);
				@include calc_letter_spacing(-25, $fontSize18);
				@include multi_ellipsis(22px, 2, false);

				@include media-breakpoint-down(md){
					margin-top:tbcal(rem(60px));
					line-height:tbcal(rem(56px));
					@include calc_letter_spacing(-25, 22px);
					@include multi_ellipsis(28px, 2, false);
				}
				@include media-breakpoint-down(sm){
					margin-top:mocal(rem(60px));
					line-height:mocal(rem(56px));
					@include calc_letter_spacing(-25, 15px);
					@include multi_ellipsis(18px, 2, false);
				}
			}
			.box-search{
				@include justify_width(start);
				margin-top:rem(55px);
				position:relative;
				background:#fff;
				z-index:91;

				@include media-breakpoint-down(md){
					margin-top:tbcal(rem(80px));
				}
				@include media-breakpoint-down(sm){
					margin-top:mocal(rem(80px));
				}

				input{
					width:calc(100% - rem(52px));
					height:rem(52px);
					padding:0 rem(16px);
					outline:0;
					border:0;
					border-radius:0;
					background:#fff;

					@include media-breakpoint-down(md){
						width:calc(100% - tbcal(rem(129px)));
						height:tbcal(rem(129px));
						padding:0 tbcal(rem(47px));
						font-size:tbcal(rem(40px));
					}
					@include media-breakpoint-down(sm){
						width:calc(100% - mocal(rem(129px)));
						height:mocal(rem(129px));
						padding:0 mocal(rem(47px));
						font-size:mocal(rem(40px));
					}

					&::placeholder{
						color:#A9B2BB;
					}
				}
				button{
					width:rem(52px);
					height:rem(52px);
					background:#fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='20' fill='none'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M13.696 14.573a8.767 8.767 0 0 1-5.17 1.663C3.815 16.236 0 12.6 0 8.118 0 3.635 3.817 0 8.525 0c4.709 0 8.526 3.635 8.526 8.118a7.836 7.836 0 0 1-1.747 4.924l5.459 5.198a.758.758 0 0 1 0 1.109l-.443.422a.853.853 0 0 1-1.165 0l-5.459-5.198Zm1.081-6.455c0 3.288-2.799 5.953-6.252 5.953-3.452 0-6.252-2.665-6.252-5.953 0-3.288 2.8-5.953 6.252-5.953 3.453 0 6.252 2.665 6.252 5.953Z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat 50% 50%;
					background-size:rem(21px);

					@include media-breakpoint-down(md){
						width:tbcal(rem(129px));
						height:tbcal(rem(129px));
						background-size:tbcal(rem(60px));
					}
					@include media-breakpoint-down(sm){
						width:mocal(rem(129px));
						height:mocal(rem(129px));
						background-size:mocal(rem(60px));
					}
				}
			}
			nav{
				position:relative;
				z-index:90;
				margin-top:rem(63px);
				overflow:hidden;

				@include media-breakpoint-down(md){
					height:tbcal(rem(72px));
					margin-top:tbcal(rem(63px));
					margin-bottom:tbcal(rem(109px));
				}
				@include media-breakpoint-down(sm){
					height:mocal(rem(72px));
					margin-top:mocal(rem(63px));
					margin-bottom:mocal(rem(109px));
				}

				ul{
					@include media-breakpoint-down(md){
						@include justify_width(start);
						align-content:flex-start;
						gap:tbcal(rem(30px)) tbcal(rem(54px));

						transition:flex 300ms $transEaseBounceBack;
					}
					@include media-breakpoint-down(sm){
						gap:mocal(rem(30px)) mocal(rem(54px));
					}

					li{
						@include media-breakpoint-down(md){
							white-space:nowrap;
						}

						a,
						button{
							//font-size:rem(19.5px);
							line-height:rem(55px);
							color:#fff;
							font-weight:600;
							text-align:left;
							white-space:nowrap;
							@include calc_letter_spacing(-25, $fontSize19);
							transition:all 300ms $transEaseBounceBack;

							@include media-breakpoint-down(md){
								font-size:tbcal(rem(48px));
								line-height:tbcal(rem(60px));
							}
							@include media-breakpoint-down(sm){
								font-size:mocal(rem(48px));
								line-height:mocal(rem(60px));
							}
						}

						&.is-active{
							a,
							button{
								color:#E1FF29;
								text-decoration:underline;
								text-underline-position:under;
							}
						}
					}
				}

				@include media-breakpoint-down(md){
					@include justify_width(between);
					align-items:flex-start;
					.inner{
						position:relative;
						width:calc(100% - tbcal(rem(60px)));
						overflow-x:auto;
						-webkit-overflow-scrolling: touch;
						height:tbcal(rem(120px));
						@include justify_width(start);
						align-items:flex-start;
					}
					.btn-nav-open{
						position:relative;
						width:tbcal(rem(60px));
						height:tbcal(rem(60px));

						&:before{
							content:"";
							display:block;
							position:absolute;
							top:0;
							left:-20px;
							width:20px;
							height:100%;
							background:linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(43,56,143,1) 100%);
						}

						&:after{
							content:"";
							@include pos_center;
							width:tbcal(rem(18px));
							height:tbcal(rem(35px));
							background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='47' fill='none'%3E%3Cpath stroke='%23fff' stroke-width='7' d='M25 45 3 23.5 25 2'/%3E%3C/svg%3E") no-repeat 0 50%;
							transform:translate(-50%, -50%) rotate(-90deg);
							background-size:tbcal(rem(18px));
							transition:transform 200ms ease;
						}
					}
				}
				@include media-breakpoint-down(sm){
					.inner{
						width:calc(100% - mocal(rem(60px)));
						height:mocal(rem(120px));
					}
					.btn-nav-open{
						width:mocal(rem(60px));
						height:mocal(rem(60px));

						&:before{
							left:-15px;
							width:15px;
						}

						&:after{
							width:mocal(rem(18px));
							height:mocal(rem(35px));
							transform:translate(-50%, -50%) rotate(-90deg);
							background-size:mocal(rem(18px));
						}
					}
				}

				&.is-active{
					@include media-breakpoint-down(md){
						//height:auto;
						align-items:flex-start;
						height:auto;
						//overflow: unset;

						.inner{
							height:auto;

							ul{
								flex-wrap:wrap;
							}
						}
						.btn-nav-open{
							&:before{
								display:none;
							}
							&:after{
								transform:translate(-50%, -50%) rotate(90deg);
							}
						}

					}
					@include media-breakpoint-down(sm){
						.inner{
							ul{
								gap:mocal(rem(30px)) mocal(rem(54px));
							}
						}
					}
				}
			}
			.copyright{
				font-size:rem(11px);
				line-height:rem(16px);
				color:#fff;
				position:fixed;
				bottom:rem(30px);
				left:rem(30px);

				@include media-breakpoint-down(md){
					display:none;
				}
			}
		}
		section{
			width:calc(100% - rem(513px));
			height:calc(100% - rem(130px));
			margin:rem(20px) auto;
			overflow-y:auto;

			@include media-breakpoint-down(lg){
				width:calc(100% - rem(430px));
			}
			@include media-breakpoint-down(md){
				width:100%;
				height:auto;
				padding:0 tbcal(rem(50px));
				overflow:unset;
			}
			@include media-breakpoint-down(sm){
				padding:0 mocal(rem(50px));
			}

			.box-list{
				padding-bottom:rem(28.5px);

				&.no-data{
					margin-top:rem(200px);
					@include media-breakpoint-down(md){
						margin-top:tbcal(rem(210px));
					}
					@include media-breakpoint-down(sm){
						margin-top:mocal(rem(210px));
					}

					.ic{
						display:block;
						width:rem(89px);
						height:rem(100px);
						margin:0 auto rem(20px);
						background:url('../images/icon_nodata.svg') no-repeat 0 0;
						background-size:100%;

						@include media-breakpoint-down(md){
							width:tbcal(rem(187px));
							height:tbcal(rem(198px));
						}
						@include media-breakpoint-down(sm){
							width:mocal(rem(187px));
							height:mocal(rem(198px));
						}
					}
					p{
						font-size:rem(20px);
						line-height:rem(30px);
						font-weight:500;
						text-align:center;

						@include media-breakpoint-down(md){
							font-size:tbcal(rem(42px));
							line-height:tbcal(rem(60px));
						}
						@include media-breakpoint-down(sm){
							font-size:mocal(rem(42px));
							line-height:mocal(rem(60px));
						}

						span{
							color:#3C50D2;
						}
					}
				}

				+ .box-list{
					padding-top:rem(28.5px);
					border-top:1px solid #ccc;

					@include media-breakpoint-down(md){
						padding-top:tbcal(rem(67px));
						border-color:#d9d9d9;
					}
					@include media-breakpoint-down(sm){
						padding-top:mocal(rem(67px));
					}
				}
				.btn-popup{
					@include justify_width(start);
					gap: 0 rem(40px);
					text-align:left;

					@include media-breakpoint-down(md){
						flex-direction:column;
						align-items:flex-start;
					}
				}
				.thumb{
					@include justify_width(center);
					width:rem(164px);
					min-width:164px;
					height:rem(116px);
					border-radius:6px;
					overflow:hidden;
					border:1px solid #e1e1e1;

					button{
						width:100%;
						height:100%;
					}

					@include media-breakpoint-down(md){
						width:100%;
						min-width:auto;
						height:tbcal(rem(589px));
						border-radius:tbcal(rem(30px));
					}
					@include media-breakpoint-down(sm){
						height:mocal(rem(589px));
						//height:auto;
						border-radius:mocal(rem(30px));
					}

					img{
						display:block;
						width:100%;
						//height:100%;
						object-fit:contain;
					}
				}
				.text{
					overflow:hidden;
					text-align:left;
					outline:0;
					@include media-breakpoint-down(md){
						margin-top:tbcal(rem(49px));
					}
					@include media-breakpoint-down(sm){
						margin-top:mocal(rem(49px));
					}

					.title{
						font-size:rem(20px);
						line-height:rem(28px);
						letter-spacing: -0.01em;
						font-weight:600;
						color:#1F1F1F;
						@include multi_ellipsis(28px, 2, false);

						@include media-breakpoint-down(md){
							font-size:tbcal(rem(56px));
							line-height:tbcal(rem(68px));;
							@include multi_ellipsis(34px, 4, false);
						}
						@include media-breakpoint-down(sm){
							font-size:mocal(rem(56px));
							line-height:mocal(rem(68px));;
							@include multi_ellipsis(23px, 4, false);
						}
					}
					.desc{
						@include multi_ellipsis(22px, 2, false);
						margin-top:rem(8px);
						font-size:rem(14px);
						line-height:rem(22px);
						color:#666;

						@include media-breakpoint-down(md){
							margin-top:tbcal(rem(34px));
							font-size:tbcal(rem(42px));
							line-height:tbcal(rem(48px));;
							@include multi_ellipsis(29px, 2, false);
						}
						@include media-breakpoint-down(sm){
							margin-top:mocal(rem(34px));
							font-size:mocal(rem(42px));
							line-height:mocal(rem(58px));;
							@include multi_ellipsis(19px, 2, false);
						}
					}
				}
			}
		}
	}
}
